<h1>Helllo welcome to JOUKGRU BABE JA A BABE MILD COMPANY</h1>
<div>
    <div>
        <img src="https://s359.kapook.com/pagebuilder/d1433224-c37c-44c5-8527-4701707f3f21.jpg" width="25%%" height="25%">
    </div>
    <div><a href="/login">LOGIN</a>
    </div>
    <div>
        <a href="/register">REGISTER</a>
    </div>
</div>
